html,
body {
  margin: 0px;
  height: 100%;
}

#sidebar {
  grid-area: sidebar;
  overflow-y: scroll;
  height: 480px;
  width: 50px;
  border-radius: 5px;
  position: relative;
  top: 10px;
  left: 5px;
}

#content {
  grid-area: content;
  width: 1215px;
}

.header {
  grid-area: header;
  font-family: Verdana;
  border-radius: 5px;
  width: 300px;
  position: relative;
  left: 5px;
  top: 3px;
}

#title {
  position: relative;
  top: -45px;
  left: 15px;
  width: 100px;
}

#clearButton {
  width: 30px;
  height: 30px;
  border-style: none;
  border-radius: 2px;
  background-color: white;
  position: relative;
  top: 2px;
  left: 265px;
  background-image: url(assets/restart.png);
  background-size: contain;
}

#clearButton:hover {
  background-color: rgb(200, 200, 200);
}

#saveImageButton {
  width: 30px;
  height: 30px;
  border-style: none;
  border-radius: 2px;
  background-color: white;
  position: relative;
  top: 2px;
  left: 190px;
  background-image: url(assets/download.png);
  background-size: contain;
}

#saveImageButton:hover {
  background-color: rgb(200, 200, 200);
}

.footer {
  grid-area: footer;
}

#controls {
  color: black;
}
.sideBarItem {
  max-height: 50px;
  max-width: 50px;
  padding: 3px;
}
.sideBarItem:hover {
  background-color: rgb(200, 200, 200);
}

.sideBarItem img {
  max-height: 40px;
  max-width: 40px;
}

.colourPalette {
  grid-area: colourP;
  display: flex;
  flex-direction: grid;
  flex-flow: wrap;
  width: 600px;
  height: 120px;
  position: relative;
  left: 5px;
  border-radius: 5px;
}

.options {
  grid-area: options;
  padding: 15px;
  position: relative;
  right: 500px;
  width: 500px;
  height: 90px;
  border-radius: 5px;
  font-family: Verdana;
}

.colourSwatches {
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  max-height: 40px;
  max-width: 40px;
  margin: 5px;
}

.wrapper {
  display: grid;
  height: 100%;
  /*grid-template-columns: 70px 230px  minmax(500px, 1fr);*/
  grid-template-columns: 70px 1046px;
  grid-template-rows: 35px minmax(500px, 1fr) 160px;
  grid-template-areas:
    "header header header"
    "sidebar content content"
    "colourP colourP options";
  background-color: #fff;
  color: #444;
}

.box {
  background-color: rgb(240, 240, 240);
  color: rgb(0, 0, 0);
}

#stampSelector {
  position: relative;
  left: 10px;
}
